# Dependencies
/node_modules

# Build output
dist
build
*.local
.output
.data
.nuxt
.nitro
.cache

# Environment variables
.env
.env.*
!.env.example
!.env.production
!.env.staging

# Log files
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# TypeScript metadata
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Misc
.fleet
