html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

#app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .header-panel {
    flex: 0 0 auto;
    background-color: #ffffff;
    padding: 8px 16px;
    border-bottom: 1px solid #e0e0e0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  } 

  .content-panel {
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    
    .side-panel {
        flex: 0 0 250px;
        padding: 8px;
        border-right: 1px solid #e0e0e0;
        background-color: #ffffff;

        #sidebar-nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
            
            .side-nav-list-item {
                border-bottom: 1px solid #e0e0e0;
            }
            .side-nav-list-item-link {
                display: block;
                padding: 8px;
                color: inherit;
                text-decoration: none;
            }
            .side-nav-list-item.active, .side-nav-list-item:hover {
                background: #f0f0f0;
            }
        }
    }

    .main-panel {
        height: 100%;
        overflow: auto;
        padding: 16px 16px 32px 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;

        h1 {
            font-size: 2rem;
            margin: 0 0 1rem 0;
        }

        h2 {
            font-size: 1.25rem;
            margin: 1rem 0;
        }

        h3 {
            font-size: 1rem;
            margin: 0 0 .25rem 0;
        }

        button {
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
                opacity: 0.6;
            }

            &:hover {
                filter: brightness(0.5);
            }
        }
    }
  }
  
  .footer-panel {
    flex: 0 0 auto;
    background-color: #ffffff;
    padding: 8px 16px;
    border-top: 1px solid #e0e0e0;
  }
}
